<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>PokedexLab</title>
</head>
<body>
  <h1>Pokedex</h1> <a href="/pokemon/new">Add To Pokedex</a>
    
  <div class="index">
    
    <% for(let i = 0; i < 20; i++) { %>
        <a href="/pokemon/<%=i%>"><img src="<%=pokemon[i].img%>" width="150px" height="150px"></a>
        
       Name: <%= pokemon[i].name %><br>
       Type: <%= pokemon[i].type %><br>
       HP: <%= pokemon[i].stats.hp %><br>
       Attack: <%= pokemon[i].stats.attack %><br>
       Defense: <%= pokemon[i].stats.defense %><br>
       Speed: <%= pokemon[i].stats.speed%><br>
    <% } %>
</div>

</body>
</html>